.App {
  text-align: center;
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-item {
  color: magenta;
  margin-right: 15px;
  background-color: rgb(97, 235, 17);
  height: 40px;
  font-size: xx-large;
  border-style: hidden;
  border-color: brown;
  margin: 0 0 3px 0;
}

.list-item span {
  margin-right: 30px;
}

.edit {
  font-size: medium;
  color: blueviolet;
  display: inline;
  margin-right: 30px;
}

.delete {
  display: inline;
  font-size: medium;
  color: red;
  margin-right: 30px;
}

.mylist label {
  color: red;
  font-size: 200%;
}

.mylist textarea {
  color: red;
  font-size: 200%;
  width: 300px;
  height: 100px;
  vertical-align: middle;
  margin-right: 50px;
}

.submit-button {
  color: red;
  width: 50px;
  height: 50px;
}

.popup {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.editButton {
  background-color: aqua;
  width: 60px;
  height: 40px;
}

.popup .popup-span {
  display: block;
  background-color: red;
  width: 55px;
  height: 20px;
}
