h3 {
  margin-bottom: 2%;
  font-size: 250%;
  font-weight: bold;
  font-family: fantasy;
  position: absolute;
  left: 80px;
  top: 60px;
}

#add {
  margin-bottom: 2%;
  position: relative;
  color: blue;
  left: 80px;
  top: 90px;
}
